@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght,ROND@100..900,0..100&display=swap');

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* 1. La animación del parpadeo */
@keyframes blink {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white;
  }

  /* Cambia 'white' por el color de tu texto */
}

/* 2. Estilo del cursor (solo si NO usas la librería y lo quieres hacer manual) */
.typewriter-cursor {
  /* Simula la barra de escritura */
  border-right: 0.15em solid white;
  /* Aplica la animación */
  animation: blink 0.75s step-end infinite;
  /* Asegura que el cursor esté alineado verticalmente */
  display: inline-block;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}